.nav{
    width: 70%;
    margin: auto;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
font-size: 18px;
@include responsive{
    width: 100%;
}
&__hamburger{
        display: none;
     @include responsive{
        display: block;
        outline: none;
    }
}
    &__image{
        width: 72px;
        height: 72px;
        
    }
    &__list{
        display: flex;
        justify-content: space-between;
        @include responsive{
            display: none;
        }

    }
    &__item{
        margin-right: 45px;
        
    }
    
    &__link{
        text-decoration: none;
        &--button{
            color: cornsilk;
            background-color: $violetine;
            border-radius: 10px;
            padding: 20px 50px;
        }
        
    }
    
    
}

.wrapper{
    width: 100%;
    
    &__box{
        margin:200px 600px 200px 245px;
        width: 50%;
        color: $font-spalva;
        @include responsive{
            width: 100%;
            text-align: center;
            margin: 0;
            

        }
        h1{
            width: 70%;
            font-size: 56px;
            
            @include responsive{
                width: 100%;
                margin: 50px 0 0 0 ;
                
            }
            
        }
        p{
            font-family: 'Poppins', sans-serif;
            width: 100%;
            margin-bottom: 70px;
            font-size: 18px;
            line-height: 27px;
            @include responsive {
                width: 100%;
                padding: 20px;
                
            }

        }
        a{
            font-family: 'Poppins', sans-serif;
            text-decoration: none;
            color: cornsilk;
                background-color: $violetine;
                border-radius: 10px;
                padding: 20px 50px;
                font-size: 18px;
        }
    
    }

    

}
